<!DOCTYPE html>
<html>
{% load static %}
<head><title>Movie</title>
<link rel="stylesheet" href={% static "css/c_home/materialize.css" %} type="text/css" media="all" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<script src={% static "js/c_home/materialize.min.js" %}></script>

<link rel="stylesheet" href={% static "css/home/materialize.css" %} type="text/css" media="all" />
<link rel="stylesheet" href={% static "css/c_home/materialize.css" %} type="text/css" media="all" />
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src={% static "js/newhome/materialize.js" %}></script>
<script src={% static "js/newhome/init.js" %}></script>
</head>
<body>
	<nav>
		<div class="nav-wrapper">
			<a href="#!" class="brand-logo"> &nbsp About Us</a>
			<a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
			<ul class="right hide-on-med-and-down">
				<li class="waves-effect waves-light"><a href="/CinemaAdmin/home/">Admin Panel</a></li>
				<li class="waves-effect waves-light"><a href="/CinemaAdmin/profile/">Cinema Profile</a></li>
				<li class="waves-effect waves-light active"><a href="#">About Us</a></li>
				<li class="waves-effect waves-light"><a href="/login/logout/">Logout</a></li>
			</ul>
		</div>
	</nav>
	<ul class="sidenav" id="nav-mobile">
				<li class="waves-effect waves-light"><a href="/CinemaAdmin/home/">Admin Panel</a></li>
				<li class="waves-effect waves-light"><a href="/CinemaAdmin/profile/">Cinema Profile</a></li><br>
				<li class="waves-effect waves-light active"><a href="#">About Us</a></li><br>
				<li class="waves-effect waves-light"><a href="/login/logout/">Logout</a></li>
			</ul>
	<br>
	<br>
	<div style="bottom: 0; position: absolute; width: 100%;">
	<footer class="page-footer blue-grey darken-4">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Movie.com</h5>
                <p class="grey-text text-lighten-4">This is the Django project for online movie ticket booking system.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">References for Designs</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Materializecss.com</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Google Material Web Design</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">W3School.com</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2018 all rights are reserved.
            </div>
          </div>
        </footer>
	</div>
</body>
