<!DOCTYPE html>
<html>
{% load static %}
<head><title>Movie</title>
<link rel="stylesheet" href={% static "css/c_home/materialize.css" %} type="text/css" media="all" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<script src={% static "js/c_home/materialize.min.js" %}></script>
<style>
table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 200%;
	border: 1px solid #ddd;
}
</style>

<link rel="stylesheet" href={% static "css/home/materialize.css" %} type="text/css" media="all" />
<link rel="stylesheet" href={% static "css/c_home/materialize.css" %} type="text/css" media="all" />
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src={% static "js/newhome/materialize.js" %}></script>
<script src={% static "js/newhome/init.js" %}></script>
</head>
<body>
	<nav>
		<div class="nav-wrapper">
			<a href="#!" class="brand-logo"> &nbsp Home</a>
			<a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
			<ul class="right hide-on-med-and-down">
				<li class="waves-effect waves-light active"><a href="#">Admin Panel</a></li>
				<li class="waves-effect waves-light"><a href="/CinemaAdmin/profile/">Cinema Profile</a></li>
				<li class="waves-effect waves-light"><a href="/CinemaAdmin/about/">About Us</a></li>
				<li class="waves-effect waves-light"><a href="/login/logout/">Logout</a></li>
			</ul>
		</div>
	</nav>
	<ul class="sidenav" id="nav-mobile">
				<li class="waves-effect waves-light active"><a href="#">Admin Panel</a></li>
				<li class="waves-effect waves-light"><a href="/CinemaAdmin/profile/">Cinema Profile</a></li><br>
				<li class="waves-effect waves-light"><a href="/CinemaAdmin/about/">About Us</a></li><br>
				<li class="waves-effect waves-light"><a href="/login/logout/">Logout</a></li>
			</ul>
	<br>
	<br>
	<br>
	<div class="row card blue-grey darken-1">
		<div class="card-content white-text">
			<span class="card-title"><h3>Movies</h3> 
			<a href="/CinemaAdmin/addNewMovie/" class="waves-effect waves-light btn">
			<i class="material-icons left">add</i>Add new movie</a></span>
		</div>
		{% for value in movies %}
			<div class="col s11 m3">
				<div class="card small">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src={%static "images/cin_home/sample-1.jpg"%}>
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">{{ value.movie_name }}<i class="material-icons right">more_vert</i></span>
					</div>
					<div class="card-reveal">
						<span class="card-title grey-text text-darken-4">{{ value.movie_name }}<i class="material-icons right">close</i></span>
						<p>{{ value.movie_details }}</p>
						<a href="/CinemaAdmin/addNewShow?mid={{ value.movie_id }}&mname={{ value.movie_name }}" class="waves-effect waves-light btn">Manage</a>
					</div>
				</div>
			</div>	
		{% endfor %}
	</div>
	<div class="row card blue-grey darken-1">
		<div class="card-content white-text">
			<span class="card-title"><h3>Offers</h3> 
			<a href="/CinemaAdmin/addNewOffer/" class="waves-effect waves-light btn">
			<i class="material-icons left">add</i>Add new offer</a></span>
		</div>
		{% for key,value in offers.items %}
			<div class="col s11 m3">
				<div class="card small">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src={%static "images/cin_home/sample-1.jpg"%}>
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">{{ key }}<i class="material-icons right">more_vert</i></span>
						
					</div>
					<div class="card-reveal">
						<span class="card-title grey-text text-darken-4">{{ key }}<i class="material-icons right">close</i></span>
						<p>{{ value }}</p>
						<a class="waves-effect waves-light btn">Manage offer</a>
					</div>
				</div>
			</div>	
		{% endfor %}
	</div>
	<br>
	<div style="bottom: 0; position: relative; width: 100%;">
	<footer class="page-footer blue-grey darken-4">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Movie.com</h5>
                <p class="grey-text text-lighten-4">This is the Django project for online movie ticket booking system.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">References for Designs</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Materializecss.com</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Google Material Web Design</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">W3School.com</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2018 all rights are reserved.
            </div>
          </div>
        </footer>
	</div>
</body>
</html>