<!DOCTYPE html>
<html>
{% load static %}
<head><title>Movie</title>
<link rel="stylesheet" href={% static "css/c_home/materialize.css" %} type="text/css" media="all" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<script src={% static "js/c_home/materialize.min.js" %}></script>
</head>
<body>
	<nav>
		<div class="nav-wrapper">
			<a href="#!" class="brand-logo"> &nbsp Cinema Admin Panel</a>
			<ul class="right hide-on-med-and-down">
				<li class="waves-effect waves-light"><a href="/CinemaAdmin/home/">Admin Panel</a></li>
				<li class="waves-effect waves-light"><a href="/CinemaAdmin/profile/">Cinema Profile</a></li>
				<li class="active waves-effect waves-light"><a href="#">Contact Us</a></li>
				<li class="waves-effect waves-light"><a href="/CinemaAdmin/about/">About Us</a></li>
				<li class="waves-effect waves-light"><a href="/login/logout/">Logout</a></li>
			</ul>
		</div>
	</nav>
	<br>
	<br>
</body>
<>