<!DOCTYPE HTML>
<html>
{% load static %}
<head>
<title>Movie</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href={% static "css/home/style.css" %} type="text/css" media="all" />
<link rel="stylesheet" href={% static "css/home/my_tabs.css" %} type="text/css" media="all" />
<link rel="stylesheet" href={% static "css/home/flexslider.css" %} type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<script src={% static 'js/home/modernizr.js' %}></script>
<script src={% static 'js/home/jquery.min.js' %}></script>
<script src={% static 'js/home/jquery.color-RGBa-patch.js' %}></script>
<script src={% static 'js/home/example.js' %}></script>
<!-- jQuery -->
<!-- FlexSlider -->
  <script defer src={% static 'js/home/jquery.flexslider.js' %}></script>
  <script type="text/javascript">
    $(function(){
      SyntaxHighlighter.all();
    });
    $(window).load(function(){
      $('.flexslider').flexslider({
        animation: "slide",
        start: function(slider){
          $('body').removeClass('loading');
        }
      });
    });
  </script>
  <!-- DC Tabs CSS -->
<link type="text/css" rel="stylesheet" href="http://www.dreamtemplate.com/dreamcodes/tabs/css/tsc_tabs.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <!-- jQuery Library (skip this step if already called on page ) -->
<script type="text/javascript" src="http://www.dreamtemplate.com/dreamcodes/jquery.min.js"></script> <!-- (do not call twice) -->
<script type="text/javascript" src={% static "js/home/my_jq.js" %}></script>
 <!-- DC Tabs JS -->
<script type="text/javascript" src="http://www.dreamtemplate.com/dreamcodes/tabs/js/tsc_tabs.js"></script>
<link rel="stylesheet" href={% static "css/home/tsc_tabs.css" %} type="text/css" media="all" />
</head>
<body>
<div class="header">
	<div class="header-top">
		<div class="wrap">
			<div class="banner-no">
		  		<img src={% static "images/home/banner-no.png" %} alt=""/>
		    </div>
			  <div class="nav-wrap">
					<ul class="group" id="example-one">
			           <li class="current_page_item"><a href="/home/">Home</a></li>
			  		   <li><a href="/home/movieandevents/">Movies & Events</a></li>
					   <li><a href="/home/profile/">User Profile</a></li>
			  		   <li><a href="/home/contact/">Contact</a></li>
					   <li><a href="/home/about/">About</a></li>
					   <li><a href="/login/logout/">Logout</a></li>
			        </ul>
			  </div>
			  <form action="#" id="reservation-form">
		       <fieldset>
		                <div class="field">
			                 <label>Find a Movie:</label>
			                  <select class="select2">
			                    <option>Movie list</option>
			                  </select>
			            </div>
		                <div class="field1">
			                   <label>Search</label>
			                  <select class="select1">
			                    <option>Movies or Actors</option>
			                  </select>
		                </div>
		       </fieldset>
            </form>
 			<div class="clear"></div>
   		</div>
    </div>
<div class="block">
	<div class="wrap">
		<div class="h-logo">
			<a href="index.html"><img src={% static "images/home/logo.png" %} alt=""/></a>
		</div>
        
            <div class="clear"></div>
   </div>
</div>
<div class="banner">
 <div class="wrap">
      <section class="slider">
        <div class="flexslider">
          <ul class="slides">
            <li>
  	    	    <img src={% static "images/home/banner1.jpg" %} alt=""/>
  	    	</li>
  	    	<li>
  	    	    <img src={% static "images/home/banner.jpg" %} alt=""/>
  	    	</li>
  	    	<li>
  	    	    <img src={% static "images/home/banner2.jpg" %} alt=""/>
  	    	</li>
  	    	<li>
  	    	    <img src={% static "images/home/banner3.jpg" %} alt=""/>
  	    	</li>
          </ul>
        </div>
      </section>
   </div>
</div>
</div>
<div class="content">
	<div class="wrap">
		<div class="content-top">
				<div class="listview_1_of_3 images_1_of_3">
					<h3>Movie News</h3>
				<div class="content-left">
					<div class="listimg listimg_1_of_2">
						 <img src={% static "images/pic.jpg" %} alt=""/>
					</div>
					<div class="text list_1_of_2">
						  <div class="extra-wrap">
                                <div class="data">August. 05. 2013</div>
                                <a href="#" class="color"><strong>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</strong></a><br>
                                <span class="text-top">iam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,</span>
                          </div>
					</div>
					<div class="clear"></div>
				</div>
				<div class="content-left">
					<div class="listimg listimg_1_of_2">
						 <img src={% static "images/home/pic4.jpg" %} alt=""/>
					</div>
					<div class="text list_1_of_2">
						  <div class="extra-wrap">
                                <div class="data">August. 05. 2013</div>
                                <a href="#" class="color"><strong>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</strong></a><br>
                                <span class="text-top">iam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,</span>
                          </div>
                          
					</div>
					<div class="clear"></div>
				</div>
				<div class="content-left">
					<div class="listimg listimg_1_of_2">
						 <img src={% static "images/home/pic1.jpg" %} alt=""/>
					</div>
					<div class="text list_1_of_2">
						  <div class="extra-wrap">
                               <div class="data">August. 05. 2013</div>
                               <a href="#" class="color"><strong>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</strong></a><br>
                               <span class="text-top">iam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,</span>
                          </div>
					</div>
					<div class="clear"></div>
				</div>
				<div class="content-left">
					<div class="listimg listimg_1_of_2">
						 <img src={% static "images/home/pic2.jpg" %} alt=""/>
					</div>
					<div class="text list_1_of_2">
						  <div class="extra-wrap">
                               <div class="data">August. 05. 2013</div>
                               <a href="#" class="color"><strong>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</strong></a><br>
                               <span class="text-top">iam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,</span>
                          </div>
					</div>
					<div class="clear"></div>
				</div>
			<a href="#" class="link2">See all</a>
		</div>				
		<div class="listview_1_of_3 images_1_of_3">
					<h3>Trailers</h3>
					<div class="middle-list">
						<div class="listimg1">
							 <img src={% static "images/home/pic5.jpg" %} alt=""/>
							 <a href="#" class="link">diam nonummy nibh euismod tincidunt</a>
						</div>
						<div class="listimg2">
							<img src={% static "images/home/pic6.jpg" %} alt=""/>
							<a href="#" class="link">diam nonummy nibh euismod tincidunt</a>
						</div>
						<div class="clear"></div>
					</div>
					<div class="middle-list">
						<div class="listimg1">
							<img src={% static "images/home/pic7.jpg" %} alt=""/>
							<a href="#" class="link">diam nonummy nibh</a>
						</div>
						<div class="listimg2">
							<img src={% static "images/home/pic8.jpg" %} alt=""/>
							<a href="#" class="link">diam nonummy nibh</a>
						</div>
						<div class="clear"></div>
					</div>	
					<div class="middle-list">
						<div class="listimg1">
							<img src={% static "images/home/pic5.jpg" %} alt=""/>
							<a href="#" class="link">diam nonummy nibh euismod tincidunt</a>
						</div>
						<div class="listimg2">
							<img src={% static "images/home/pic6.jpg" %} alt=""/>
							<a href="#" class="link">diam nonummy nibh euismod tincidunt</a>
						</div>
						<div class="clear"></div>
					</div>
					<a href="#" class="link2">See all</a>
					<div class="sub-bottom">
						<div class="nav">
							<section class="tsc_gradient-tabs">
							  <input id="grad-tab-1" type="radio" name="radio-set1" class="grad-tab-selector-1" checked="checked">
							 <label for="grad-tab-1" class="grad-tab-label-1">Per day</label>
							  <input id="grad-tab-2" type="radio" name="radio-set1" class="grad-tab-selector-2">
							  <label for="grad-tab-2" class="grad-tab-label-2">A week</label>
							  <input id="grad-tab-3" type="radio" name="radio-set1" class="grad-tab-selector-3">
							   <label for="grad-tab-3" class="grad-tab-label-3">Month</label>
							  <input id="grad-tab-4" type="radio" name="radio-set1" class="grad-tab-selector-4">
							   <div class="clear-shadow"></div>
							  <div class="gradtab-content" style="height:250px;">
							    <div class="gradtab-content-1">
							    	<h2>Lorem Ipsum.............................................12</h2>
							    	<h2>Lorem Ipsum.............................................11</h2>
							    	<h2>Lorem Ipsum.............................................10</h2>
							    	<h2>Lorem Ipsum.............................................9</h2>
							    	<h2>Lorem Ipsum.............................................8</h2>
							    	<h2>Lorem Ipsum.............................................7</h2>
							    	<h2>Lorem Ipsum.............................................6</h2>
							    	<h2>Lorem Ipsum.............................................5</h2>
							    	<h2>Lorem Ipsum.............................................4</h2>
							    	<h2>Lorem Ipsum.............................................3</h2>
							   </div>
							     <div class="gradtab-content-2">
							     	<h2>Lorem Ipsum.............................................12</h2>
							    	<h2>Lorem Ipsum.............................................11</h2>
							    	<h2>Lorem Ipsum.............................................10</h2>
							    	<h2>Lorem Ipsum.............................................9</h2>
							    	<h2>Lorem Ipsum.............................................8</h2>
							    	<h2>Lorem Ipsum.............................................7</h2>
							    	<h2>Lorem Ipsum.............................................6</h2>
							    	<h2>Lorem Ipsum.............................................5</h2>
							    	<h2>Lorem Ipsum.............................................4</h2>
							    	<h2>Lorem Ipsum.............................................3</h2>
							   	</div>
							    <div class="gradtab-content-3">
							     	<h2>Lorem Ipsum.............................................12</h2>
							    	<h2>Lorem Ipsum.............................................11</h2>
							    	<h2>Lorem Ipsum.............................................10</h2>
							    	<h2>Lorem Ipsum.............................................9</h2>
							    	<h2>Lorem Ipsum.............................................8</h2>
							    	<h2>Lorem Ipsum.............................................7</h2>
							    	<h2>Lorem Ipsum.............................................6</h2>
							    	<h2>Lorem Ipsum.............................................5</h2>
							    	<h2>Lorem Ipsum.............................................4</h2>
							    	<h2>Lorem Ipsum.............................................3</h2>
							 	</div>
							 </div>
					</section>		
				</div> 
			</div>
		</div>			
		<div class="listview_1_of_3 images_1_of_3">
					<h3>Films in Theaters</h3>
					<div class="content-left">
					<div class="listimg listimg_1_of_2">
						 <img src={% static "images/home/pic9.jpg" %} alt=""/>
					</div>
					<div class="text list_1_of_2">
						  <div class="extra-wrap1">
                                        <a href="#" class="link4">augue duis dolore te</a><br>
                                        <span class="color1">USA (2013)</span><br>
                                        Genre: <a href="#" class="color2">duis</a> / <a href="#" class="color2">soluta nobis eleifend option congue</a><br>
                                        <span class="link-top">Actors: <a href="#" class="color2">Conse ctetur,<br>dolore eu feugiat nulla facilisis at vero </a> </span> 
                                    </div>
					</div>
					<div class="clear"></div>
				</div>
				<div class="content-left">
					<div class="listimg listimg_1_of_2">
						 <img src={% static "images/home/pic10.jpg" %} alt=""/>
					</div>
					<div class="text list_1_of_2">
						  <div class="extra-wrap1">
                                        <a href="#" class="link4">augue duis dolore te</a><br>
                                        <span class="color1">USA (2013)</span><br>
                                        Genre: <a href="#" class="color2">duis</a> / <a href="#" class="color2">soluta nobis eleifend option congue</a><br>
                                        <span class="link-top">Actors: <a href="#" class="color2">Conse ctetur,<br>dolore eu feugiat nulla facilisis at vero </a> </span> 
                                    </div>
					</div>
					<div class="clear"></div>
				</div>
					
					<div class="content-left">
					<div class="listimg listimg_1_of_2">
						 <img src={% static "images/home/pic11.jpg" %} alt=""/>
					</div>
					<div class="text list_1_of_2">
						  <div class="extra-wrap1">
                                        <a href="#" class="link4">augue duis dolore te</a><br>
                                        <span class="color1">USA (2013)</span><br>
                                        Genre: <a href="#" class="color2">duis</a> / <a href="#" class="color2">soluta nobis eleifend option congue</a><br>
                                        <span class="link-top">Actors: <a href="#" class="color2">Conse ctetur,<br>dolore eu feugiat nulla facilisis at vero </a> </span> 
                                    </div>
					</div>
					<div class="clear"></div>
				</div>
				<div class="content-left">
					<div class="listimg listimg_1_of_2">
						 <img src={% static "images/home/pic12.jpg" %} alt=""/>
					</div>
					<div class="text list_1_of_2">
						  <div class="extra-wrap1">
                                        <a href="#" class="link4">augue duis dolore te</a><br>
                                        <span class="color1">USA (2013)</span><br>
                                        Genre: <a href="#" class="color2">duis</a> / <a href="#" class="color2">soluta nobis eleifend option congue</a><br>
                                        <span class="link-top">Actors: <a href="#" class="color2">Conse ctetur,<br>dolore eu feugiat nulla facilisis at vero </a> </span> 
                                    </div>
					</div>
					<div class="clear"></div>
				</div>
				<a href="#" class="link2">See all</a>
				</div>		
				<div class="clear"></div>		
			</div>
	</div>
</div>
<div class="footer">
	<div class="wrap">
			<div class="footer-top">
				<div class="col_1_of_4 span_1_of_4">
					<div class="footer-nav">
		                <ul>
		                   <li><a href="#">Our Tips of gallery Template diam</a></li>
		                    <li><a href="#">Our Tips of gallery Template diam</a></li>
		                     <li><a href="#">Our Tips of gallery Template diam</a></li>
		                       <li><a href="#">Our Tips of gallery Template diam</a></li>
		                   </ul>
		              </div>
				</div>
				<div class="col_1_of_4 span_1_of_4">
					<div class="textcontact">
						<p>consectetuer adipiscing elit,<br>
						consectetuer<br>
						Ph: +1-800-234-52589.<br>
						Email : <a href="mailto:example@mail.com">mail@example.com</a><br>
						</p>
					</div>
				</div>
				<div class="col_1_of_4 span_1_of_4">
					<div class="call_info">
						<p class="txt_3">Call us toll free:</p>
						<p class="txt_4">1 800 234 23456</p>
					</div>
				</div>
				<div class="col_1_of_4 span_1_of_4">
					<div class=social>
						<a href="#"><img src={% static "images/home/fb.png" %} alt=""/></a>
						<a href="#"><img src={% static "images/home/tw.png" %} alt=""/></a>
						<a href="#"><img src={% static "images/home/dribble.png" %} alt=""/></a>
						<a href="#"><img src={% static "images/home/pinterest.png" %} alt=""/></a>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
	<div class="wrap">
	<div class="copy">
		<p>© 2018 Movie.Design by CE119,CE120,CE121</p>
	</div>
 	</div>
</div>
</body>
</html>
