<!DOCTYPE html>
<html>
{% load static %}
<head>
	<title>Movie</title>
	<link rel="stylesheet" href={% static "css/c_home/materialize.css" %} type="text/css" media="all" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src={% static "js/jquery-3.3.1.min.js" %}></script>
	<script src={% static "js/c_home/materialize.min.js" %}></script>
<script>
  $(document).ready(function(){
    $('.collapsible').collapsible();
	$('.tabs').tabs();
  });
</script>
</head>
<body>
	<h3>Choose your nearest cinema:</h3>
<ul class="collapsible">	
	{% for key,value in city.items %}
		<li>
			<div class="collapsible-header"><i class="material-icons">movie</i>{{ key }}</div>
			{% for i in value %}
				<div class="collapsible-body"><a href='/home?cid={{ i.cinema_id }}'><span>{{ i.cinema_name }}</span></a></div>
			{% endfor %}
		</li>
	{% endfor %}
	</ul>
	<br>
	<div style="bottom: 0; position: relative; width: 100%;">
	<footer class="page-footer blue-grey darken-4">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Movie.com</h5>
                <p class="grey-text text-lighten-4">This is the Django project for online movie ticket booking system.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">References for Designs</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Materializecss.com</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Google Material Web Design</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">W3School.com</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2018 all rights are reserved.
            </div>
          </div>
        </footer>
	</div>
</body>
</html>