<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
{% load static %}
<head>
<title>Free Theater Website Template | Movies & Events :: w3layouts</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href={% static "css/home/style.css" %} type="text/css" media="all" />
<link rel="stylesheet" href={% static "css/home/lightbox.css" %} type="text/css" media="all" />
<script src={% static 'js/home/jquery.color-RGBa-patch.js' %}></script>
<script src={% static 'js/home/example.js' %}></script>
<script type="text/javascript" src={% static "js/home/jquery.min.js" %}></script> <!-- (do not call twice) -->
<script src={% static "js/home/lightbox.js" %}></script>
<script>
  jQuery(document).ready(function($) {
      $('a').smoothScroll({
        speed: 1000,
        easing: 'easeInOutCubic'
      });

      $('.showOlderChanges').on('click', function(e){
        $('.changelog .old').slideDown('slow');
        $(this).fadeOut();
        e.preventDefault();
      })
  });

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2196019-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
<div class="header">
	<div class="header-top">
		<div class="wrap">
			<div class="banner-no">
		  		<img src={% static "images/home/banner-no.png" %} alt=""/>
		    </div>
			  <div class="nav-wrap">
					<ul class="group" id="example-one">
			             <li class="current_page_item"><a href="/home/">Home</a></li>
			  		   <li><a href="/home/movieandevents/">Movies & Events</a></li>
					   <li><a href="/home/profile/">User Profile</a></li>
			  		   <li><a href="/home/contact/">Contact</a></li>
					   <li><a href="/home/about/">About</a></li>
					   <li><a href="/login/logout/">Logout</a></li>
			        </ul>
			  </div>
 			<div class="clear"></div>
   		</div>
    </div>
<div class="block">
	<div class="wrap">
		<div class="h-logo">
			<a href="index.html"><img src={% static "images/home/logo.png" %} alt=""/></a>
		</div>
        <form action="#" id="reservation-form">
		       <fieldset>
		                <div class="field">
			                 <label>Find a Movie:</label>
			                  <select class="select2">
			                    <option>Movie list</option>
			                  </select>
			            </div>
		                <div class="field1">
			                   <label>Search</label>
			                  <select class="select1">
			                    <option>Movies or Actors</option>
			                  </select>
		                </div>
		       </fieldset>
            </form>
            <div class="clear"></div>
   </div>
</div>
</div>
<div class="content">
	<div class="wrap">
		<div class="content-top">
			<h3>Movies</h3>
				<div class="col_1_of_4 span_1_of_4">
					<div class="imageRow">
						  	<div class="single">
						  		<a href={% static "images/home/pic18.jpg" %} rel="lightbox"><img src={% static "images/home/pic18.jpg" %} alt="" /></a>
						  	</div>
						  	<div class="movie-text">
						  		<h4 class="h-text"><a href="/book/">Lorem ipsum dolor sit,</a></h4>
						  		<p class="h-para">Lorem ipsum dolor sit amet, consectetuer adipiscing elit </p>
						  		
						  	</div>
		  				</div>
		  		</div>
				<div class="col_1_of_4 span_1_of_4">
					<div class="imageRow">
						  	<div class="single">
						  		<a href={% static "images/home/pic19.jpg" %} rel="lightbox"><img src={% static "images/home/pic19.jpg" %} alt="" /></a>
						  	</div>
						  	<div class="movie-text">
						  		<h4 class="h-text"><a href="#">Lorem ipsum dolor sit,</a></h4>
						  		<p class="h-para">Lorem ipsum dolor sit amet, consectetuer adipiscing elit </p>
						  	</div>
		  				</div>
				</div>
				<div class="col_1_of_4 span_1_of_4">
					<div class="imageRow">
						  	<div class="single">
						  		<a href={% static "images/home/pic20.jpg" %} rel="lightbox"><img src={% static "images/home/pic20.jpg" %} alt="" /></a>
						  	</div>
						  	<div class="movie-text">
						  		<h4 class="h-text"><a href="#">Lorem ipsum dolor sit,</a></h4>
						  		<p class="h-para">Lorem ipsum dolor sit amet, consectetuer adipiscing elit </p>
						  	</div>
		  				</div>
				</div>
				<div class="col_1_of_4 span_1_of_4">
					<div class="imageRow">
						  	<div class="single">
						  		<a href={% static "images/home/pic21.jpg" %} rel="lightbox"><img src={% static "images/home/pic21.jpg" %} alt="" /></a>
						  	</div>
						  	<div class="movie-text">
						  		<h4 class="h-text"><a href="#">Lorem ipsum dolor sit,</a></h4>
						  		<p class="h-para">Lorem ipsum dolor sit amet, consectetuer adipiscing elit </p>
						  	</div>
		  				</div>
				</div>
					<div class="clear"></div>	
			</div>
			<div class="movie-top">
				<div class="col_1_of_4 span_1_of_4">
					<div class="imageRow">
						  	<div class="single">
						  		<a href={% static "images/home/pic22.jpg" %} rel="lightbox"><img src={% static "images/home/pic22.jpg" %} alt="" /></a>
						  	</div>
						  	<div class="movie-text">
						  		<h4 class="h-text"><a href="#">Lorem ipsum dolor sit,</a></h4>
						  		<p class="h-para">Lorem ipsum dolor sit amet, consectetuer adipiscing elit </p>
						  		
						  	</div>
		  				</div>
		  		</div>
				<div class="col_1_of_4 span_1_of_4">
					<div class="imageRow">
						  	<div class="single">
						  		<a href={% static "images/home/pic23.jpg" %} rel="lightbox"><img src={% static "images/home/pic23.jpg" %} alt="" /></a>
						  	</div>
						  	<div class="movie-text">
						  		<h4 class="h-text"><a href="#">Lorem ipsum dolor sit,</a></h4>
						  		<p class="h-para">Lorem ipsum dolor sit amet, consectetuer adipiscing elit </p>
						  	</div>
		  				</div>
				</div>
				<div class="col_1_of_4 span_1_of_4">
					<div class="imageRow">
						  	<div class="single">
						  		<a href={% static "images/home/pic24.jpg" %} rel="lightbox"><img src={% static "images/home/pic24.jpg" %} alt="" /></a>
						  	</div>
						  	<div class="movie-text">
						  		<h4 class="h-text"><a href="#">Lorem ipsum dolor sit,</a></h4>
						  		<p class="h-para">Lorem ipsum dolor sit amet, consectetuer adipiscing elit </p>
						  	</div>
		  				</div>
				</div>
				<div class="col_1_of_4 span_1_of_4">
					<div class="imageRow">
						  	<div class="single">
						  		<a href={% static "images/home/pic25.jpg" %} rel="lightbox"><img src={% static "images/home/pic25.jpg" %} alt="" /></a>
						  	</div>
						  	<div class="movie-text">
						  		<h4 class="h-text"><a href="#">Lorem ipsum dolor sit,</a></h4>
						  		<p class="h-para">Lorem ipsum dolor sit amet, consectetuer adipiscing elit </p>
						  	</div>
		  				</div>
				</div>
					<div class="clear"></div>	
			</div>
			</div>
				<div class="clear"></div>		
			</div>
<div class="footer">
	<div class="wrap">
			<div class="footer-top">
				<div class="col_1_of_4 span_1_of_4">
					<div class="footer-nav">
		                <ul>
		                   <li><a href="#">Our Tips of gallery Template diam</a></li>
		                    <li><a href="#">Our Tips of gallery Template diam</a></li>
		                     <li><a href="#">Our Tips of gallery Template diam</a></li>
		                       <li><a href="#">Our Tips of gallery Template diam</a></li>
		                   </ul>
		              </div>
				</div>
				<div class="col_1_of_4 span_1_of_4">
					<div class="textcontact">
						<p>consectetuer adipiscing elit,<br>
						consectetuer<br>
						Ph: +1-800-234-52589.<br>
						Email : <a href="mailto:example@mail.com">mail@example.com</a><br>
						</p>
					</div>
				</div>
				<div class="col_1_of_4 span_1_of_4">
					<div class="call_info">
						<p class="txt_3">Call us toll free:</p>
						<p class="txt_4">1 800 234 23456</p>
					</div>
				</div>
				<div class="col_1_of_4 span_1_of_4">
					<div class=social>
						<a href="#"><img src={% static "images/home/fb.png" %} alt=""/></a>
						<a href="#"><img src={% static "images/home/tw.png" %} alt=""/></a>
						<a href="#"><img src={% static "images/home/dribble.png" %} alt=""/></a>
						<a href="#"><img src={% static "images/home/pinterest.png" %} alt=""/></a>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
<div class="footer-bottom">
	<div class="wrap">
	<div class="copy">
		<p>© 2013 Movie | Design by CE119,CE120,CE121</p>
	</div>
 	</div>
</div>
</body>
</html>
