<!DOCTYPE html>
<html>
{% load static %}
<head>
	<title>Movie</title>
	<link rel="stylesheet" href={% static "css/c_home/materialize.css" %} type="text/css" media="all" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src={% static "js/jquery-3.3.1.min.js" %}></script>
	<script src={% static "js/c_home/materialize.min.js" %}></script>
<script>
  $(document).ready(function(){
    $('.collapsible').collapsible();
	$('.tabs').tabs();
  });
   $(document).ready(function(){
    $('select').formSelect();
  });
</script>
</head>
<body>
	<nav>
		<div class="nav-wrapper">
			<a href="#!" class="brand-logo">&nbsp Home</a>
			<ul class="right hide-on-med-and-down">
				<li class="waves-effect waves-light"><a href="/home/">Home</a></li>
				<li class="waves-effect waves-light"><a href="/home/profile/">Profile</a></li>
				<li class="waves-effect waves-light"><a href="/book/bookings/">Bookings</a></li>
				<li class="waves-effect waves-light"><a href="/home/contact/">Contact Us</a></li>
				<li class="waves-effect waves-light"><a href="/home/about/">About Us</a></li>
				<li class="waves-effect waves-light"><a href="/home/cinema/">Cinema</a></li>				
				<li class="waves-effect waves-light"><a href="/login/logout/">Logout</a></li>
			</ul>
		</div>
	</nav>
	<br><br><br>
	 <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a class="active" href="#t1">Movie Details</a></li>
        <li class="tab col s3"><a href="#t2">Booking</a></li>
        <li class="tab col s3"><a href="#t3">Rating</a></li>
      </ul>
    </div>
    <div id="t1" class="col s12">
		<ul class="collapsible">
		<li>
			<div class="collapsible-header"><i class="material-icons">movie</i>{{ movie_name }}</div>
			<div class="collapsible-body"><span>{{ movie_details }}</span></div>
		</li>
		<li>
			<div class="collapsible-header"><i class="material-icons">star</i>Casting</div>
			<div class="collapsible-body"><span>Amitabh Bachhan<br>Salman Khan<br>Aishvarya Rai<br>Tom Hardy</span></div>
		</li>
		<li>
			<div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
			<div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
		</li>
		</ul>
	</div>
    <div id="t2" class="col s12">
		<form action="/book/" method="POST">
		{% csrf_token %}
			<input type ="hidden" name="movie_name" value="{{ movie_name }}" >
			<div class="input-field col s8">
				<select name="sid">
					<option value="" disabled selected>Select Show for {{ movie_name }}</option>
					{% for i in show %}
						<option value="{{ i.show_id }}">{{ i.time }}</option>
					{% endfor %}
				</select>
				<select name="fid">
					<option value="" disabled selected>Select offer for {{ movie_name }}</option>
					{% for i in offer %}
						<option value="{{ i.offer_id }}">{{ i.offer_name }}</option>
					{% endfor %}
				</select>
				<div class="input-field col s6">
					<input type="submit" value="Submit" class="waves-effect waves-light btn">
				</div>
			</div>
		</form>
	</div>
    <div id="t3" class="col s12">Test 3</div>
  </div>
</body>
</html>