<!DOCTYPE html>
<html>
{% load static %}
<head><title>Movie</title></head>
<link rel="stylesheet" href={% static "css/c_home/materialize.css" %} type="text/css" media="all" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src={% static "js/c_home/materialize.min.js" %}></script>

<link rel="stylesheet" href={% static "css/home/materialize.css" %} type="text/css" media="all" />
<link rel="stylesheet" href={% static "css/c_home/materialize.css" %} type="text/css" media="all" />
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src={% static "js/newhome/materialize.js" %}></script>
<script src={% static "js/newhome/init.js" %}></script>
<body>
	<nav>
		<div class="nav-wrapper">
			<a href="#!" class="brand-logo"> &nbsp Cinema Profile</a>
			<a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
			<ul class="right hide-on-med-and-down">
				<li class="waves-effect waves-light"><a href="/CinemaAdmin/home/">Admin Panel</a></li>
				<li class="waves-effect waves-light"><a href="/CinemaAdmin/profile/">Cinema Profile</a><li>
				<li class="waves-effect waves-light"><a href="/CinemaAdmin/about/">About Us</a></li>
				<li class="waves-effect waves-light"><a href="/login/logout/">Logout</a></li>
			</ul>
		</div>
	</nav>
	<ul class="sidenav" id="nav-mobile">
				<li class="waves-effect waves-light"><a href="/CinemaAdmin/home/">Admin Panel</a></li>
				<li class="waves-effect waves-light"><a href="/CinemaAdmin/profile/">Cinema Profile</a><li>
				<li class="waves-effect waves-light"><a href="/CinemaAdmin/about/">About Us</a></li><br>
				<li class="waves-effect waves-light"><a href="/login/logout/">Logout</a></li>
			</ul>
<br>
<br><br>
<div class="row">
		<div class="col s12">
			<div class="card blue-grey darken-1">
				<div class="card-content white-text">
					<span class="card-title"><h3>Cinema Profile</h3></span>
          <ul class="collection">
			<li class="collection-item avatar">
				<table>
					<tr>
						<td width="100"><img src={% static "images/profile/userid.png" %}></td>
						<td><span class="title"><h5>User ID:</h5></span>
							<p>{{ user_name }}</p>
						</td>
					</tr>
				</table>
			</li>
			<li class="collection-item avatar">
				<table>
					<tr>
						<td width="100"><img src={% static "images/profile/movie.png" %}></td>
						<td>
							<span class="title"><h5>Cinema Name:</h5></span>
							<p>{{ full_name }}</p>
						</td>
					</tr>
				</table>
			</li>
			<li class="collection-item avatar">
				<table>
					<tr>
						<td width="100"><img src={% static "images/profile/email.png" %}></td>
						<td>
							<span class="title"><h5>E-Mail Address:</h5></span>
							<p>{{ email }}</p>
						</td>
					</tr>
				</table>
			</li>
			<li class="collection-item avatar">
				<table>
					<tr>
						<td width="100"><img src={% static "images/profile/call.png" %}></td>
						<td>
							<span class="title"><h5>Phone no.:</h5></span>
							<p>{{ phoneno }}</p>
						</td>
					</tr>
				</table>
			</li>
			<li class="collection-item avatar">
				<table>
					<tr>
						<td width="100"><img src={% static "images/profile/addr.png" %}></td>
						<td>
							<span class="title"><h5>Cinema Address:</h5></span>
							<p>{{ addr }}</p>
						</td>
					</tr>
				</table>
			</li>
		</ul>
		</div>
				<div class="card-action">
				<a href="/CinemaAdmin/editProfile/" class="waves-effect waves-light btn">Edit Profile</a> <a href="/CinemaAdmin/editPassword/" class="waves-effect waves-light btn">Edit Passwrd</a>
			</div>
			</div>
		</div>
	</div>
	<br>
	<div style="bottom: 0; position: relative; width: 100%;">
	<footer class="page-footer blue-grey darken-4">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Movie.com</h5>
                <p class="grey-text text-lighten-4">This is the Django project for online movie ticket booking system.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">References for Designs</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Materializecss.com</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Google Material Web Design</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">W3School.com</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2018 all rights are reserved.
            </div>
          </div>
        </footer>
	</div>
</body>
</html>